 {% extends "base.html.twig" %}

{% block body %}
    
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aliquid sunt animi error tempora esse sint magnam accusamus quam ratione possimus quod quidem itaque, ullam architecto quae tenetur porro at voluptate vel? Repellendus quis, ducimus cumque impedit corporis sequi fugit.</p>
    <p>Sint officiis quaerat sit delectus, blanditiis neque natus rerum odit exercitationem, quo provident velit laborum fugiat nulla! Ullam aspernatur numquam quidem dolor repellendus dicta commodi ipsum, odio dolores est minima tempore culpa illo, magnam saepe ex ipsa! Tempora, modi nisi?</p>

{% endblock body %}
